<!-- Modal Nvo Mov por Lote -->
<div class="modal fade" id="nvoMovLoteModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-centered">
    <div class="modal-content" style="container-type: inline-size;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="nvoMovLoteModalTitle">Nuevos Movimiento por Lote</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <form id="nvoMovLoteForm">
          
          <div class="input-group input-group-sm mb-sm-3 mb-2">
            <label class="input-group-text" for="añoMov">Año</label>
            <select class="form-select form-select-sm" id="añoMov" name="añoMov" aria-label="Año" placeholder="Año"
                required autofocus>
                <option selected disabled hidden></option>
                <option value="2026">2026</option>
                <option value="2025">2025</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
            </select>
            <label class="input-group-text" for="mesMov">Mes</label>
            <select class="form-select form-select-sm" id="mesMov" name="mesMov" aria-label="Mes" required>
                <option selected disabled hidden></option>
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>

          <fieldset class="border p-2" id="fieldsetGastos" data-nombre-input="Gasto">
            <legend>Gastos</legend>
            <datalist id="nombreGastoList">
              <option value="Gasto 1">
              <option value="Gasto 2">
              <option value="Gasto 3">
            </datalist>
            <!-- <div class="row g-2 p-2">
              <div class="col">
                <input type="number" class="form-control text-end" name="montoGasto[]" placeholder="Monto Gasto">
              </div>
              <div class="col">
                <input type="text" class="form-control text-start" name="nombreGasto[]" placeholder="Nombre del gasto"
                  list="nombreGastoList">
              </div>
              <div class="col-1 align-self-center">
                <button type="button" class="btn btn-close" onclick='this.closest(".row").remove()'></button>
              </div>
            </div> -->
            
          </fieldset>
          <fieldset class="border p-2" id="fieldsetCreditos" data-nombre-input="Credito">
            <legend>Créditos</legend>
          </fieldset>
          <fieldset class="border p-2" id="fieldsetInversiones" data-nombre-input="Inversion">
            <legend>Inversiones</legend>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="nvoMovLoteSubmitBtn" form="nvoMovLoteForm">Cargar Lote</button>
        <button type="reset" class="btn btn-secondary" id="nvoMovLoteResetBtn" form="nvoMovLoteForm"
        data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>